*{
    margin: 0;
    padding: 0;
}

footer {
    background-color: rgba(0, 0, 255, 0.311);
    margin-top: 195px;
  }
  .wrapper {
    padding: 50px 110px;
    display: flex;
    justify-content: space-between;
  }
  .text_politics {
    padding-top: 60px;
    height: 65px;
  }
  .footer_links {
    display: flex;
    width: 380px;
    justify-content: space-between;
    padding-left: 80px;
  }
  .wrapper p {
    margin: 0;
    padding: 0;
  }
  .text_politics p {
    padding: 8px 0;
    font-size: 13px;
  }
  
  .clothes {
    padding-top: 40px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer_links p:hover {
    color: #6e9c9f;
    cursor: pointer;
    /* font-size: 15px;
    font-weight: bold; */
  }
  
  .block_2 {
    padding-left: 180px;
    text-align: end;
  }
  .clothes p {
    font-size: 13px;
  }
  .social  {
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-top: 30px;}
    .social img{
width: 30px;
height: 30px;
    }
  
  .img_master {
    padding-top: 30px;
  }
  .block_2 p:nth-child(2) {
    padding-top: 10px;
  }